postgresql:
  image:
    tag: "latest"
  architecture: standalone
  auth:
    postgresPassword: "password"
    database: "appdb"
  primary:
    persistence:
      enabled: false

mongodb:
  image:
    tag: "latest" 
  architecture: standalone
  auth:
    rootPassword: "password"
  persistence:
    enabled: false

redis:
  image:
    tag: "latest" 
  architecture: standalone
  auth:
    password: "password"
  master:
    persistence:
      enabled: false